<!doctype html>
<html>
	<head>
		<style>
			h1{text-align: left;}
            div{text-align: left;}

		</style>
	</head>
	<body style="background-color:#FFFFE0;">
		
		 <h1>Yibo Guo </h1> 
		
		
		 <h1>Welcome to my First Assignment</h1> 
		 <br><br>

		<div class='container'>
<!-- 			<a href="/all">Press this to view people</a><br><br>
			<a href="/find">Get the detail of a particular person</a><br><br>
			<a href="/updatekey">Update a Keyword</a><br><br>
			<a href="/remove">Delete a record</a><br><br>
			<a href="/range_sal">Check person details based on Salary range</a><br><br>
			<a href="/updatesalary">Update Salary</a><br><br> -->
			<a href="/add_pic">Put up a Picture</a><br><br>
			
		</div>
		
	
</html>
